.avatar img{
  background: #D8D8D8;
  border-radius: 50%;
  border: 2px solid #ffffff;
  overflow: hidden;
}

.user-star {
  margin-top: 8px;
  margin-bottom: 8px;
}

.user-rating span{
  font-size: 12px;
  height: 12px;
  width: 12px;
  margin-right: 3px;
}

.review-text {
  font-size: 16px;
}

.read-more {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: #008489;
}

.read-more:hover {
  text-decoration: underline;
}
