.avatar img{
  background: #D8D8D8;
  border-radius: 50%;
  border: 2px solid #ffffff;
  overflow: hidden;
}

.user-rating span{
  font-size: 12px;
  height: 12px;
  width: 12px;
  margin-right: 3px;
}
